<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Save picture by username</title>
</head>
<body>

<form action="/username" enctype="multipart/form-data" method="POST">
  <p><b>Username:</b>
    <input type="text" name="username" size="20"><br>
    <input style="margin-top:10px" type="submit" value="Save picture"/>
  </p>
</form>

<form action="/delete" enctype="multipart/form-data" method="POST">
  <p style="margin-top:50px">Delete all pictures from remote storage<br>
  <input style="margin-top:10px" type="submit" value="Delete all files"/>
</form>

</body>
</html>
